h2 {
    color: purple;
    font-size: 2rem;
    transition: 200ms ease-in;
}

h2:hover{

    transform: scaleY(1.2);
    text-decoration: dotted underline;
}

input{
    text-align: end;
    pointer-events: none;

    grid-column: 1 / span 5;
    border-radius: 15px;
    border-color: blueviolet;
    height: 70px;
    font-family: Cambria, elephant, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    color: rgba(235, 8, 235, 0.809);

    
}
textarea:focus{
    border-color: rgb(255, 0, 187);
}

article div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border: 2px rebeccapurple solid;
    border-radius: 5px;
    padding: 10px;
    width: max-content;
}

article{
    margin: 10px;
}

button{
    padding: 15px;
    margin: 2px;
    border-radius: 15px;
    border: 1px rgb(187, 0, 255) solid;
    background-color: blueviolet;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 200ms ease-in;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

button:hover{
    color: rgb(0, 254, 250);
    background-color: rgb(128, 0, 255);
}

#clear{
    grid-column: 1/ span 5;
    border-radius: 15px;
    font-size:x-large;
}