h2 {
    color: purple;
    font-size: 2rem;
    transition: 200ms ease-in;
}

h2:hover{

    transform: scaleY(1.2);
    text-decoration: dotted underline;
}

textarea{
    text-align: right;
    grid-column: 1 / span 5;
    resize: none;
    border-radius: 5px;
    border-color: blueviolet;
    height: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px; 

}
textarea:focus{
    border-color: rgb(255, 0, 187);
}

article div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border: 2px rebeccapurple solid;
    border-radius: 5px;
    padding: 10px;
    width: max-content;
}

button{
    padding: 15px;
    margin: 2px;
    border-radius: 100%;
    border: 1px rgb(187, 0, 255) solid;
    background-color: blueviolet;
    color: white;
    font-size: larger;
    cursor: pointer;
    transition: 200ms ease-in;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

button:hover{
    color: rgb(0, 254, 250);
    background-color: rgb(128, 0, 255);
}